<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>

</head>
<body>
<div class="checkout-total">
    <h1 th:text="'Total cart value: '+${cartValue}+' $'"></h1>
    <a href="http://127.0.0.1:8080/checkout" id="checkout"> Check Out</a>
</div>
<div class="cart-container">
    <div class="cart">
        <div class="item-container" th:each="prod,iterStat : ${products}" id="product-card">
            <div class="card">
                <img class="image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.key.id} + '.jpg'" alt="" height="400px"/>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.key.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.key.description}">Product description... </p>
                    <p th:text="'order quantity: '+${prod.value}"></p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.key.price}">100 USD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-form" >
    <form action="/cart-page" method="post">
        <label for="name">Name:</label><br>
        <input name="name" id="name" type="text"><br>
        <label for="email">E-mail:</label><br>
        <input name="email" id="email" type="email"><br>
        <label for="phone">Phone number</label><br>
        <input name="phone" id="phone" type="tel"><br>

        <h2>Billing address</h2><br>
        <label for="billing-country">Country</label><br>
        <input name="billing-country" id="billing-country" type="text"><br>
        <label for="billing-city">City:</label><br>
        <input name="billing-city" id="billing-city" type="text"><br>
        <label for="billing-zip-code">Zip code:</label><br>
        <input name="billing-zip-code" id="billing-zip-code" type="number"><br>
        <label for="billing-address">Address:</label><br>
        <input name="billing-address" id="billing-address" type="text"><br>

        <h2>Shipping address</h2><br>
        <label for="shipping-country">Country</label><br>
        <input name="shipping-country" id="shipping-country" type="text"><br>
        <label for="shipping-city">City:</label><br>
        <input name="shipping-city" id="shipping-city" type="text"><br>
        <label for="shipping-zip-code">Zip code:</label><br>
        <input name="shipping-zip-code" id="shipping-zip-code" type="number"><br>
        <label for="shipping-address">Address:</label><br>
        <input name="shipping-address" id="shipping-address" type="text"><br>

        <button type="submit">Go to Payment</button>
    </form>
</div>
</body>
</html>