<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>
    <link rel="icon" type="image/png" href="/static/img/symbol.png"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />


</head>
<body>
<a href="/" class="jawa-image-link"><img class="jawa_image" src="/static/img/symbol.png" alt="jawazon-logo" width="6.5%"></a>
<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="/payment/credit-card" method="post">
                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Darth Vader">
                        <label for="phone">Phone number</label>
                        <input name="phone" id="phone" type="text" placeholder="+36 90/123-45-67">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="lord.vader@empire.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                        <input type="text" id="adr" name="billing-address" placeholder="542 W. 15th Street">
                        <label for="city"><i class="fa fa-institution"></i> City</label>
                        <input type="text" id="city" name="billing-city" placeholder="Death Star">

                        <div class="row">
                            <div class="col-50">
                                <label for="country">State</label>
                                <input type="text" id="country" name="billing-country" placeholder="Hungary">
                            </div>
                            <div class="col-50">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="billing-zip-code" placeholder="10001">
                            </div>
                        </div>
                    </div>

                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                <input type="submit" value="Continue to payment" class="btn">
            </form>
        </div>
    </div>

    <div class="col-25">
        <div class="container">
            <h4>Cart
                <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b></b>
        </span>
            </h4>
            <div th:each="prod,iterStat : ${products}">
            <p><a href="#" th:text="${prod.key.name}"></a> <span class="price" th:text="${prod.key.price}  * ${prod.value}"></span></p>
            </div>
            <hr>
            <p>Total <span class="price" th:text="${cartValue} + ' Cr'"><b></b></span></p>
        </div>
    </div>
</div>
</body>
</html>