<!doctype html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/button.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dropdownDiv.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/link.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/image.css"/>

    <script src="/static/js/modal.js" type="module" defer></script>
    <script src="/static/js/util.js" type="module" defer></script>
    <script src="/static/js/fetchByFilter.js" type="module" defer></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <div class="dropdowns">
        <div class="dropdown">
            <button class="dropdown-button">Categories</button>
                <div class="dropdown-content">
                    <div  th:each="cat,iterStat: ${categories}">
                        <a href="#" th:text="${cat.name}" th:attr="data-id=${cat.getId()}" data-filter="category" class="category-link"></a>
                    </div>
                </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-button">Suppliers</button>
                <div class="dropdown-content">
                    <div  th:each="sup,iterStat: ${suppliers}">
                        <a href="#" th:text="${sup.name}" th:attr="data-id=${sup.getId()}" data-filter="supplier" class="category-link"></a>
                    </div>
                </div>
        </div>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}" id="product-card">
            <div class="card">
                <img class="image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" height="400px"/>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a id="add-to-cart" class="btn btn-success" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times</span>
            <!--<h2 class="modal-header-h2">Modal Header</h2>-->
        </div>
        <div class="modal-body">
            <div class="product-quantity">
                <p class="decrease-quantity">-</p><p class="quantity-amount">1</p><p class="increase-quantity">+</p>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>