<!doctype html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Jawazon.com - Webshop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="icon" type="image/png" href="/static/img/symbol.png"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/button.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dropdownDiv.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/link.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/image.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/topNavbar.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/cardDesign.css"/>

    <script src="/static/js/modal.js" type="module" defer></script>
    <script src="/static/js/util.js" type="module" defer></script>
    <script src="/static/js/fetchByFilter.js" type="module" defer></script>
    <script src="/static/js/main.js" type="module" defer></script>
</head>

<body>
<div class="header">
</div>
    <div class="header-elements">
        <div class="header-links">
            <a href="/" class="jawa-image-link"><img class="jawa_image" src="/static/img/symbol.png" alt="jawazon-logo" width="15%"></a>
            <a href="#" class="top-navbar-link">Index</a>
            <div class="dropdown">
            <a href="#" class="top-navbar-link">Sort</a>
                <div class="dropdown-content">
                    <div  th:each="cat,iterStat: ${categories}">
                        <a href="#" th:text="${cat.name}" th:attr="data-id=${cat.getId()}" data-filter="category" class="category-link"></a>
                    </div>
                </div>
            </div>
            <a href="#" class="top-navbar-link">Account</a>
            <a href="#" class="top-navbar-link">Settings</a>
        </div>
        <div class="cart">
            <a href="/cart-page" class="cart-link"><img src="/static/img/pngegg2.png" alt="cart" width="5%"></a>
        </div>
    </div>
<hr class="hr-header">
<button type="submit" class="sidebar-button">CLICK ME!</button>
<div class="main-container">
<div class="sidebar">
    <div><a href="#" class="closebtn">x</a></div><br>
    <div>
    <img class="join-add" src="/static/img/join1.jpg" alt="join-the-empire">
    </div>
</div>

<div class="container">
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}" id="product-card">
            <div class="card">
                <img class="image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" height="400px"/>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="price-text">
                        <p class="lead" th:text="${prod.getPrice()} + ' Cr'">100 USD</p>
                    </div>
                    <div class="buy-button">
                        <a th:attr="data-productId=${prod.id}" id="add-to-cart" class="btn" href="#">Buy</a>
                    </div>
                    <div th:id="${prod.id}" th:attr="data-price=${prod.getPrice()}" class="modal"></div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>