.dropdown-button {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdowns{
    display: flex;
    flex-direction: row;
}

.btn{
    background-color: #981633;
    border-color: black;
    color: white;
}

.btn:hover{
    background-color: #ff2525;
    border-color: black;
    color: white;
}
