
.card {
    display: flex;
    flex-direction: row;
}

.image {
    max-width: 15em;
    max-height: 15em;
}

.card-header {
}

#checkout {
    text-decoration: none;
    background-color: #5f6367;

}

.checkout-total {
    color: #3e8e41;
}