body{
    background-color: rgba(0, 0, 0, 0.85);
}

.card {
    display: flex;
    flex-direction: row;
}

.image {
    max-width: 15em;
    max-height: 15em;
}

.card-header {
}

#checkout {
    text-decoration: none;
    background-color: #5f6367;

}

.checkout-total {
    color: #3e8e41;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3%;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px 20px 15px 0px;
    border: 5px solid rgba(55,89,128,0.57);
    border-radius: 3px;
    color: white;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: black solid;
    width: 100%;
    border-radius: 1px;
    cursor: pointer;
    font-size: 17px;
    background-color: #981633;
}

.btn:hover {
    background-color: #ff2525;
    border-color: black;
    color: white;
}

.price {
    float: right;
    color: white;
}


@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}