.modal{
    position: absolute;
}

.modal-content {
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 2% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.product-quantity {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-header {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.card-body{
    position: relative;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.decrease-quantity{
    font-weight: bold;
    font-size: 200%;
    color: black;
}

.decrease-quantity:hover{
    color: #981633;
    text-decoration: none;
}

.product-quantity p{
    font-weight: bold;
    font-size: 150%;
    padding: 10% 10%;
}

.increase-quantity{
    font-weight: bold;
    font-size: 200%;
    color: black;
}

.increase-quantity:hover{
    color: #981633;
    text-decoration: none;
}

.amount{
    height: 15px;
}

.amount p{
    font-weight: bold;
}

.price-container{
    display: flex;
    align-items: center;
}

.price-amount{
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
}

.quantity-container{
    display: flex;
    flex-direction: column;
}

.button-container{
    display: flex;
    align-items: center;
}

.button-container a{
    font-size: 90%;
}