.sidebar{
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.category-link{
    font-size: 150%;
}

.category-link:hover{
    text-decoration: none;
    color: white;
}

.main-container{
    position: relative;
    transition: margin-left 0.5s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
}

.closebtn:hover{
    text-decoration: none;
    color: red;
}

.openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: lightblue;
}

.dropdown-content{
    height: fit-content;
    width: fit-content;
}

.sidebar-button{
    margin-top: 2%;
    background: rgba(55,89,128,0.57);
    border: 1px solid white;
    color: whitesmoke;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 150%;
    font-family: monospace;
    font-weight: bold;
}