.top-navbar{
}

.top-navbar-content{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.top-navbar-link{
    margin-left: 5%;
    font-size: 150%;
    font-family: monospace;
    color: rgb(91, 91, 91);
}

.active{
    background-color: black;
}

.top-navbar-link:hover{
    text-decoration: none;
    color: #b88d5c;
}