.top-navbar{
}

.top-navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.top-navbar-link{
    margin-left: 5%;
    font-size: 150%;
    font-family: monospace;
    color: white;
    text-shadow: 1px 1px red;
}

.active{
    background-color: black;
}

.top-navbar-link:hover{
    text-decoration: none;
    color: gray;
    text-shadow: #981633;
}

.header-elements{
    display: flex;
    flex-direction: row;
}